@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Roboto+Mono:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

main {
  width: 600px;
  margin: 50px auto;
}

h1 {
  color: var(--primaryColor);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

h1 svg {
  width: 40px;
  fill: var(--primaryColor);
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0;
}


#info {
  color: var(--primaryColor);
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 15px;
}

#numbers {
  display: flex;
  gap: 8px;
}

.number {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.number:hover {
  color: var(--primaryColor);
}

.number.active {
  color: var(--primaryColor);
}

.number.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
  background: rbga(255, 255, 255, 0.5);
  border: 0;
  color: rbga(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

div#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  position: relative;
}

#words {
  filter: blur(5px);
  color: var(--textSecondary);
}

div#game:focus {
  outline: 0;
}

#game:focus #words {
  filter: blur(0px);
}

#game:focus #focus-error {
  display: none;
}

#focus-error {
  position: absolute;
  inset: 0;
  text-align: center;
  padding-top: 35px;
}

div.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}

.letter.correct {
  color: #fff;
}
.letter.incorrect {
  color: #f55;
}

#cursor {
  display: none;
  width: 2px;
  height: 1.6rem;
  background-color: var(--primaryColor);
  position: fixed;
  top: 220px;
  left: -118px;
  animation: blink 0.5s infinite;
}

#game:focus #cursor {
  display: block;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#game.over #words {
  opacity: 0.5;
  filter: blur(0);
}
#game.over:focus #cursor {
  display: none;
}

#game.over #focus-error {
  display: none;
}
